<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $(document).ready(function () {
    var a = window.location.href
    var id = a.substring(a.lastIndexOf('/') + 1);





    // $('#historyCheckd')

    axios({
      method: 'post',
      url: window.location.origin + '/edit/getPatient/' + id,
      //params: {
      //     :id
      // }
    }).then((response) => {

      if (response) {

        let data = response.data[0]

        $('#fatherAge').val(data.familyTable[0].member_age)
        $('#fatherHealth').val(data.familyTable[0].health_state)
        $('#fatherAgeDeath').val(data.familyTable[0].member_age_death)
        $('#fatherReasonDeath').val(data.familyTable[0].member_death_reason)

        $('#motherAge').val(data.familyTable[1].member_age)
        $('#motherHealth').val(data.familyTable[1].health_state)
        $('#motherAgeDeath').val(data.familyTable[1].member_age_death)
        $('#motherReasonDeath').val(data.familyTable[1].member_death_reason)

        $('#brotherAge').val(data.familyTable[2].member_age)
        $('#brotherHealth').val(data.familyTable[2].health_state)
        $('#brotherAgeDeath').val(data.familyTable[2].member_age_death)
        $('#brotherReasonDeath').val(data.familyTable[2].member_death_reason)

        $('#sisterAge').val(data.familyTable[3].member_age)
        $('#sisterHealth').val(data.familyTable[3].health_state)
        $('#sisterAgeDeath').val(data.familyTable[3].member_age_death)
        $('#sisterReasonDeath').val(data.familyTable[3].member_death_reason)

        $('#wifeAge').val(data.familyTable[4].member_age)
        $('#wifeHealth').val(data.familyTable[4].health_state)
        $('#wifeAgeDeath').val(data.familyTable[4].member_age_death)
        $('#wifeReasonDeath').val(data.familyTable[4].member_death_reason)
        console.log(data)

        if (data.history.boolean) {
          $('#historyCheckdTrue').attr('checked', 'checked')
          $('#historyText').show()
          $('#historyTextInput').val(data.history.text)
        } else if (data.history.boolean == false) {
          $('#historyCheckdFalse').attr('checked', 'checked')
        }

        if (data.smoker) {
          $('#smokerTrue').attr('checked', 'checked')
        } else if (data.smoker == false) {
          $('#smokerFalse').attr('checked', 'checked')
        }

        if (data.gender == 'woman') {
          $('#genderWoman').attr('checked', 'checked')
        } else if (data.gender == 'man') {
          $('#genderMan').attr('checked', 'checked')
        }

        if (data.alcohol) {
          $('#alcoholTrue').attr('checked', 'checked')
        } else if (data.alcohol == false) {
          $('#alcoholFalse').attr('checked', 'checked')
        }

        if (data.army.boolean) {
          $('#armyCheckdTrue').attr('checked', 'checked')
        } else if (data.army.boolean == false) {
          $('#armyCheckdFalse').attr('checked', 'checked')
          $('#armyText').show()
          $('#armyTextInput').val(data.army.text)
        }


        if (data.karkinos.boolean) {
          $('#karkinosTrue').attr('checked', 'checked')
          $('#karkinosText').show()
          $('#karkinosOrgan').val(data.karkinos.organ)          
           $('#karkinosTreatment').val(data.karkinos.treatment)
        } else if (data.karkinos.boolean == false) {
          $('#karkinosFalse').attr('checked', 'checked')

        }





        if (data.annarotiki.boolean) {
          $('#annarotikiCheckdTrue').attr('checked', 'checked')
          $('#annarotikiText').show()
          $('#annarotikiTextInput').val(data.annarotiki.text)
        } else if (data.annarotiki.boolean == false) {
          $('#annarotikiCheckdFalse').attr('checked', 'checked')
        }

        if (data.therapia.boolean) {
          $('#therapiaCheckdTrue').attr('checked', 'checked')
          $('#therapiaText').show()
          $('#therapiaTextInput').val(data.therapia.text)
        } else if (data.therapia.boolean == false) {
          $('#therapiaCheckdFalse').attr('checked', 'checked')
        }

        if (data.eyesEarsDiscomfort) {
          $('#eyesEarsDiscomfortTrue').attr('checked', 'checked')
        } else if (data.eyesEarsDiscomfort == false) {
          $('#eyesEarsDiscomfortFalse').attr('checked', 'checked')
        }

        if (data.illggous) {
          $('#illggousTrue').attr('checked', 'checked')
        } else if (data.illggous == false) {
          $('#illggousFalse').attr('checked', 'checked')
        }

        if (data.gastrenteriko) {
          $('#gastrenterikoTrue').attr('checked', 'checked')
        } else if (data.gastrenteriko == false) {
          $('#gastrenterikoFalse').attr('checked', 'checked')
        }

        if (data.eminopafsi) {
          $('#eminopafsiTrue').attr('checked', 'checked')
        } else if (data.eminopafsi == false) {
          $('#eminopafsiFalse').attr('checked', 'checked')
        }


        if (data.kukloforiako) {
          $('#kukloforiakoTrue').attr('checked', 'checked')
        } else if (data.kukloforiako == false) {
          $('#kukloforiakoFalse').attr('checked', 'checked')
        }


        if (data.anapnefstiko) {
          $('#anapnefstikoTrue').attr('checked', 'checked')
        } else if (data.anapnefstiko == false) {
          $('#anapnefstikoFalse').attr('checked', 'checked')
        }

        if (data.ouropoihtiko) {
          $('#ouropoihtikoTrue').attr('checked', 'checked')
        } else if (data.ouropoihtiko == false) {
          $('#ouropoihtikoFalse').attr('checked', 'checked')
        }

        if (data.muoskeletiko) {
          $('#muoskeletikoTrue').attr('checked', 'checked')
        } else if (data.muoskeletiko == false) {
          $('#muoskeletikoFalse').attr('checked', 'checked')
        }

        if (data.anaimia.boolean) {
          $('#anaimiaCheckdTrue').attr('checked', 'checked')
          $('#anaimiaText').show()
          $('#anaimiaTextInput').val(data.anaimia.text)
        } else if (data.anaimia.boolean == false) {
          $('#anaimiaCheckdFalse').attr('checked', 'checked')
        }



        if (data.alergia.boolean) {
          $('#alergiaCheckdTrue').attr('checked', 'checked')
          $('#alergiaText').show()
          $('#alergiaTextInput').val(data.alergia.text)
        } else if (data.alergia.boolean == false) {
          $('#alergiaCheckdFalse').attr('checked', 'checked')
        }


        if (data.egxeirish.boolean) {
          $('#egxeirishCheckdTrue').attr('checked', 'checked')
          $('#egxeirishText').show()


          $("#egxeirishTextWHO_1").val(data.egxeirish.text[0].Who)
          $("#egxeirishTextWHERE_1").val(data.egxeirish.text[0].Where)
          $("#egxeirishTextWHEN_1").val(data.egxeirish.text[0].When)

          $("#egxeirishTextWHO_2").val(data.egxeirish.text[1].Who)
          $("#egxeirishTextWHERE_2").val(data.egxeirish.text[1].Where)
          $("#egxeirishTextWHEN_2").val(data.egxeirish.text[1].When)

          $("#egxeirishTextWHO_3").val(data.egxeirish.text[2].Who)
          $("#egxeirishTextWHERE_3").val(data.egxeirish.text[2].Where)
          $("#egxeirishTextWHEN_3").val(data.egxeirish.text[2].When)


        } else if (data.egxeirish.boolean == false) {
          $('#egxeirishCheckdFalse').attr('checked', 'checked')
        }


        $('#traumatismoi').val(data.traumatismoi)
        $('#allesNosilies_1').val(data.allesNosilies[0])
        $('#allesNosilies_2').val(data.allesNosilies[1])



        if (data.osteosinthesi.boolean) {
          $('#osteosinthesiTrue').attr('checked', 'checked')
          $('#osteosinthesiText').show()
          //osteosinthesiTextInput
          $('#osteosinthesiTextInput').val(data.osteosinthesi.text)
        } else if (data.osteosinthesi.boolean == false) {
          $('#osteosinthesiFalse').attr('checked', 'checked')
        }

  //dermatopatheia
    if (data.dermatopatheia.boolean) {
            $('#dermatopatheiaTrue').attr('checked', 'checked')
            $('#dermatopatheiaText').show()
          
            $('#dermatopatheiaTextInput').val(data.dermatopatheia.text)
          } else if (data.dermatopatheia.boolean == false) {
            $('#dermatopatheiaFalse').attr('checked', 'checked')
          }


          //apeikonistiko
        if (data.apeikonistiko.boolean) {
            $('#apeikonistikoTrue').attr('checked', 'checked')
            $('#apeikonistikoText').show()
          
            $('#apeikonistikoWhich').val(data.apeikonistiko.which)
             $('#apeikonistikoMedicalΟpinion').val(data.apeikonistiko.medicalΟpinion)

            //apeikonistikoWhich apeikonistikoWhen apeikonistikoMedicalΟpinion
          } else if (data.apeikonistiko.boolean == false) {
            $('#apeikonistikoFalse').attr('checked', 'checked')
          }


 if (data.kardia.boolean) {
            $('#kardiaTrue').attr('checked', 'checked')
            $('#kardiaText').show()
          
            $('#kardiaTextInput').val(data.kardia.text)
          } else if (data.kardia.boolean == false) {
            $('#kardiaFalse').attr('checked', 'checked')
          }



        if (data.SakxarodiDiabiti.boolean) {
          $('#SakxarodiDiabitiCheckdTrue').attr('checked', 'checked')
          $('#SakxarodiDiabitiText').show()


          $("#SakxarodiDiabitiWHO_1").val(data.SakxarodiDiabiti.text[0].Who)
          $("#SakxarodiDiabitiWHEN_1").val(data.SakxarodiDiabiti.text[0].When)
          $("#SakxarodiDiabitiRESULT_1").val(data.SakxarodiDiabiti.text[0].Result)

          $("#SakxarodiDiabitiWHO_2").val(data.SakxarodiDiabiti.text[1].Who)
          $("#SakxarodiDiabitiWHEN_2").val(data.SakxarodiDiabiti.text[1].When)
          $("#SakxarodiDiabitiRESULT_2").val(data.SakxarodiDiabiti.text[1].Result)

          $("#SakxarodiDiabitiWHO_3").val(data.SakxarodiDiabiti.text[2].Who)
          $("#SakxarodiDiabitiWHEN_3").val(data.SakxarodiDiabiti.text[2].When)
          $("#SakxarodiDiabitiRESULT_3").val(data.SakxarodiDiabiti.text[2].Result)


        } else if (data.SakxarodiDiabiti.boolean == false) {
          $('#SakxarodiDiabitiCheckdFalse').attr('checked', 'checked')
        }




        if (data.gunaikologikaProblimata.boolean) {
          $('#gunaikologikaProblimataTrue').attr('checked', 'checked')
          $('#gunaikologikaProblimataText').show()
          $('#gunaikologikaProblimataInput').val(data.gunaikologikaProblimata.text)
        } else if (data.gunaikologikaProblimata.boolean == false) {
          $('#gunaikologikaProblimataFalse').attr('checked', 'checked')
        }




        if (data.egkuos.boolean) {
          $('#egkuosTrue').attr('checked', 'checked')
          $('#egkuosText').show()
          $('#egkuosInput').val(data.egkuos.text)
        } else if (data.egkuos.boolean == false) {
          $('#egkuosFalse').attr('checked', 'checked')
        }




        $('#sullipseis').val(data.sullipseis)

        $('#apovoles').val(data.apovoles)


        if (data.checkup.boolean) {
          $('#checkupTrue').attr('checked', 'checked')
          $('#checkupText').show()


          $("#checkupTextWHO_1").val(data.checkup.Status[0].Who)
          $("#checkupTextWHEN_1").val(data.checkup.Status[0].When)
          $("#checkupTextWHERE_1").val(data.checkup.Status[0].Where)

          $("#checkupTextWHO_2").val(data.checkup.Status[1].Who)
          $("#checkupTextWHEN_2").val(data.checkup.Status[1].When)
          $("#checkupTextWHERE_2").val(data.checkup.Status[1].Where)

          $("#checkupTextWHO_3").val(data.checkup.Status[2].Who)
          $("#checkupTextWHEN_3").val(data.checkup.Status[2].When)
          $("#checkupTextWHERE_3").val(data.checkup.Status[2].Where)


        } else if (data.checkup.boolean == false) {
          $('#checkupFalse').attr('checked', 'checked')
        }



        if (data.metavoliVarous) {
          $('#metavoliVarousTrue').attr('checked', 'checked')
        } else if (data.metavoliVarous == false) {
          $('#metavoliVarousFalse').attr('checked', 'checked')
        }



        if (data.farmaka.boolean) {
          $('#farmakaTrue').attr('checked', 'checked')
          $('#farmakaText').show()
          $("#farmakaAitia").val(data.farmaka.Aitia)
          $("#farmakaEidos").val(data.farmaka.Eidos)

        } else if (data.farmaka.boolean == false) {
          $('#farmakaFalse').attr('checked', 'checked')
        }




        if (data.allo.boolean) {
          $('#alloTrue').attr('checked', 'checked')
          $('#alloText').show()
          $("#alloInput").val(data.allo.text)


        } else if (data.allo.boolean == false) {
          $('#alloFalse').attr('checked', 'checked')
        }

        if (data.covid.boolean) {
          $('#covidTrue').attr('checked', 'checked')
          $('#covidText').show()
          $("#covidInput").val(data.covid.text)


        } else if (data.covid.boolean == false) {
          $('#covidFalse').attr('checked', 'checked')
        }





      }
    }).catch((err) => {
      console.log(err);
    })


  });
</script>


<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header"><strong>Επεξεργασία Ασθενή </strong></div>

      <div class="card-body">

        {{!-- <p class="text-medium-emphasis small">Ενδεχομένος οδηγίες προς τον χρήστη που συμπληρώνει την φόρμα.</p>
        --}}



        </script>


        <div class="example">

          <!-- Form -->
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-789" id="UserFormEmail">


              <form class="row g-3" action="/edit/editPatient/{{id}}" method="POST" name="myForm">



                <div class="row g-3">

                  <div class="col-md-4">
                    <label class="form-label" for="validationDefault01">Όνομα</label>
                    <input class="form-control" name="fname" type="text" placeholder="Μάριος" required=""
                      value="{{user.fname}}">
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationDefault02">Επίθετο</label>
                    <input class="form-control" name="lname" type="text" placeholder="Παππάς" required=""
                      value="{{user.lname}}">
                  </div>




                  <div class="col-md-4">
                    <label class="form-label" for="DateOfBirth">Ημερομηνία Γέννησεως</label>
                    <input class="form-control" name="DateOfBirth" type="date" required=""
                      value="{{formatTime user.DateOfBirth  'YYYY-MM-DD'}}">
                  </div>





                  <div class="col-md-4">
                    <label class="form-label" for="streetName">Διεύθυνση</label>
                    <input class="form-control" id="streetName" name="streetName" type="text" required=""
                      value="{{user.Address.streetName}}">
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="streetNumber">Αριθμός</label>
                    <input class="form-control" id="streetNumber" name="streetNumber" type="number" required=""
                      value="{{user.Address.streetNumber}}">
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="streetZip">Τ.Κ.</label>
                    <input class="form-control" id="streetZip" name="streetZip" type="number" required=""
                      value="{{user.Address.streetZip}}">
                  </div>


                  <div class="col-md-4">
                    <label class="form-label" for="identification">Στοιχεία Αστυνομικής Ταυτότητας</label>
                    <input class="form-control" id="identification" name="identification" type="text" required=""
                      value="{{user.identification}}">
                  </div>



                  <div class="col-md-4">
                    <label class="form-label" for="AsfalistikoTameio">Ασφαλιστικό Ταμείο</label>
                    <input class="form-control" id="AsfalistikoTameio" name="AsfalistikoTameio" type="text" required=""
                      value="{{user.AsfalistikoTameio}}">
                  </div>


                  <div class="col-md-4">
                    <label class="form-label" for="UserAmka">AMKA</label>
                    <input class="form-control" id="UserAmka" name="UserAmka" type="number" required=""
                      value="{{user.UserAmka}}">
                  </div>



                  <div class="col-md-4">
                    <label class="form-label" for="validationDefaultEmail">Email</label>
                    <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                      <input class="form-control" name="email" type="email" value="{{user.email}}">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationMobile">Κινητό</label>
                    <input class="form-control" name="mobile_number" type="number" value="{{user.mobile_number}}"
                      required="">
                  </div>
                  <div class="col-md-4">
                    <label class="form-label" for="validationMobile">Σταθερό</label>
                    <input class="form-control" name="home_number" type="number" value="{{user.home_number}}"
                      required="">
                  </div>


                  <div class="col-md-4 mt-5">
                    <p>Φύλο</p>
                    <label>
                      <input type="checkbox" class="radio historyCheckd" value="man" name="gender"
                        id="genderMan" />'Αντρας</label>
                    <label>
                      <input type="checkbox" class="radio historyCheckd" value="woman" name="gender" id="genderWoman"
                        value="false" />Γυναίκα</label>
                  </div>

                </div>


                {{!-- -------------------------------- --}}
                <div></div>
                <hr>
                {{!-- -------------- table relatives------------------ --}}

                <div class="table-responsive">
                  <table class="table border mb-0">

                    <thead class="table-light fw-semibold">
                      <tr class="align-middle">
                        <th class="col-md-2">Συγγενείς</th>
                        <th class="col-md-2">Ηλικία</th>
                        <th scope="col">Κατάσταση Υγείας</th>
                        <th scope="col" class="col-md-2">Ηλικία Θανάτου</th>
                        <th scope="col">Αιτία Θανάτου</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr class="align-middle">

                        {{!-- {{user.familyTable[0].member_age}} --}}
                        <th scope="row">Πατέρας</th>
                        <td class="text-center"><input class="form-control" type="number" id="fatherAge"
                            name="fatherAge" value=""></td>
                        <td class="text-center"><input class="form-control" type="text" id="fatherHealth"
                            name="fatherHealth"></td>
                        <td class="text-center"><input class="form-control" type="number" id="fatherAgeDeath"
                            name="fatherAgeDeath"></td>
                        <td class="text-center"><input class="form-control" type="text" id="fatherReasonDeath"
                            name="fatherReasonDeath"></td>

                      </tr>







                      <tr class="align-middle">
                        <th scope="row">Μητερα</th>
                        <td><input class="form-control" type="number" id="motherAge" name="motherAge"></td>
                        <td><input class="form-control" type="text" id="motherHealth" name="motherHealth"></td>
                        <td><input class="form-control" type="number" id="motherAgeDeath" name="motherAgeDeath"></td>
                        <td><input class="form-control" type="text" id="motherReasonDeath" name="motherReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Αδελφοί</th>
                        <td><input class="form-control" type="number" id="brotherAge" name="brotherAge"></td>
                        <td><input class="form-control" type="text" id="brotherHealth" name="brotherHealth"></td>
                        <td><input class="form-control" type="number" id="brotherAgeDeath" name="brotherAgeDeath"></td>
                        <td><input class="form-control" type="text" id="brotherReasonDeath" name="brotherReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Αδελφές</th>
                        <td><input class="form-control" type="number" id="sisterAge" name="sisterAge"></td>
                        <td><input class="form-control" type="text" id="sisterHealth" name="sisterHealth"></td>
                        <td><input class="form-control" type="number" id="sisterAgeDeath" name="sisterAgeDeath"></td>
                        <td><input class="form-control" type="text" id="sisterReasonDeath" name="sisterReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Συζυγος</th>
                        <td><input class="form-control" type="number" id="wifeAge" name="wifeAge"></td>
                        <td><input class="form-control" type="text" id="wifeHealth" name="wifeHealth"></td>
                        <td><input class="form-control" type="number" id="wifeAgeDeath" name="wifeAgeDeath"></td>
                        <td><input class="form-control" type="text" id="wifeReasonDeath" name="wifeReasonDeath"></td>
                      </tr>




                    </tbody>
                  </table>
                </div>






                {{!-- -------------------------------- --}}
                <div></div>
                <hr>

                {{!--
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> --}}


                <table id="" class="table table-bordered" style="text-align: center">

                  <tbody>

                    <p><b>Παρακαλώ συμπληρώστε τα επιπλέον πεδία που εμφανίζονται κατά την επιλογή καταφατικών
                        απαντήσεων</b></p>


                    <tr class="align-middle">
                      <td class="col-sm-4">
                        <p>Είστε καπνιστής; </p>


                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="smoker" id="smokerTrue"
                                  value="true" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="smoker" id="smokerFalse"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td class="col-sm-4">
                        <p>Κάνετε χρήση οινοπνευματοδών ποτών; </p>


                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="alcohol" id="alcoholTrue"
                                  value="true" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="alcohol" id="alcoholFalse"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>





                    <tr class="align-middle">
                      <td>
                        <p>Υπηρετήσατε κανονικά στο στατό, χωρίς αναβολή για λόγους υγείας; (για άνδρες); </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio armyCheckd" value="true" name="army"
                                  id="armyCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio armyCheckd" value="false" name="army"
                                  id="armyCheckdFalse" value="false" />Οχι</label>
                              <div id="armyText" style="display:none;">
                                <hr>
                                <p>Περιγράψτε</p>
                                <input class="form-control" type="text" name="armyText" id="armyTextInput">
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Πήρατε ποτέ αναρρωτική άδεια από το ασφαλιστικό ταμείο σας ή παραμείνατε μερικά ή ολικά
                          ανίκανος για εργασία για κάποιο χρονικό διάστημα;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio annarotikiCheckd" value="true" name="annarotiki"
                                  id="annarotikiCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio annarotikiCheckd" value="false" name="annarotiki"
                                  id="annarotikiCheckdFalse" value="false" />Οχι</label>

                              <div id="annarotikiText" style="display:none;">
                                <hr>
                                <p>Παρακαλώ όπως αναφέρατε τον λόγο</p>

                                <textarea class="form-control" name="annarotikiTextInput" id="annarotikiTextInput"
                                  rows="4" cols="50">
</textarea>
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr class="align-middle">
                      <td>
                        <p>Βρίσκεστε τώρα σε ιατρική θεραπεία ή παρακολούθηση;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio therapiaCheckd" value="true" name="therapia"
                                  id="therapiaCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio therapiaCheckd" value="false" name="therapia"
                                  id="therapiaCheckdFalse" value="false" />Οχι</label>
                              <div id="therapiaText" style="display:none;">
                                <hr>
                                <p>Παρακαλώ όπως αναφέρατε τον λόγο</p>


                                <textarea class="form-control" name="therapiaText" id="therapiaTextInput" rows="4"
                                  cols="50">
</textarea>
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td align="left" colspan="100%">
                        <p><b>Είχατε ποτέ πάθηση ή ενοχλήσεις στα παρακάτω:</b></p>
                      </td>
                    </tr>
                    <tr class="align-middle">
                      <td>
                        <p>Αυτιά ή μάτια;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="eyesEarsDiscomfort"
                                  id="eyesEarsDiscomfortTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="eyesEarsDiscomfort"
                                  id="eyesEarsDiscomfortFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Νευρικό σύστημα (κεφαλαλγίες, ιλίγγους, λιποθυμίες);
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="illggous"
                                  id="illggousTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="illggous" id="illggousFalse"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Γαστρεντερικό σύστημα (έλκος, γαστρίτιδα,
                          σκωλικοειδίτιδα, κολίτιδα, αιμμοροϊδες, κύστη κόκκυγος, κήλη, κ.λ.π.);

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="gastrenteriko"
                                  id="gastrenterikoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="gastrenteriko"
                                  id="gastrenterikoFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Αναπνευστικό σύστημα (πνευμονία, πλευρίτιδα, έμμονη
                          φαρυγγίτιδα, λαριγγίτιδα, αμυγδαλίτιδα, χρόνια αποφρακτική πνευμονοπάθεια (ΧΑΠ) );


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="anapnefstiko"
                                  id="anapnefstikoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="anapnefstiko"
                                  id="anapnefstikoFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Κυκλοφορικό σύστημα (αγγειοπάθεια, φλεβίτιδα, φλεβική ανεπάρκεια);

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="kukloforiako"
                                  id="kukloforiakoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="kukloforiako"
                                  id="kukloforiakoFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Ουροποιητικό σύστημα ή γεννητικό σύστημα (νεφροπάθεια,
                          νεφρολιθίαση, προστάτη, αφρο- δίσια νοσήματα κ.λ.π.);


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="ouropoihtiko"
                                  id="ouropoihtikoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="ouropoihtiko"
                                  id="ouropoihtikoFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Μυοσκελετικό σύστημα (αρθρίτιδες, οσφυαλγία,
                          ισχιαλγία, αυχενικό σύνδρομο κ.λ.π.);



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="muoskeletiko"
                                  id="muoskeletikoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="muoskeletiko"
                                  id="muoskeletikoFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td align="left" colspan="100%">
                        <p><b>Σε περίπτωση καταφατικής απάντησης, παρακαλώ διευκρινίστε λεπτομερώς τα παρακάτω:</b></p>
                      </td>
                    </tr>
                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πρόβλημα αναιμίας;

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio anaimiaCheckd" value="true" name="anaimia"
                                  id="anaimiaCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio anaimiaCheckd" value="false" name="anaimia"
                                  id="anaimiaCheckdFalse" value="false" />Οχι</label>

                              <div id="anaimiaText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς</p>


                                <textarea class="form-control" name="anaimiaText" id ="anaimiaTextInput" rows="4" cols="50">
</textarea>
                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πρόβλημα αλλεργίας;

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio alergiaCheckd" value="true" name="alergia"
                                  id="alergiaCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio alergiaCheckd" value="false" name="alergia"
                                  id="alergiaCheckdFalse" value="false" />Οχι</label>

                              <div id="alergiaText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς.</p>
                                <textarea class="form-control" name="alergiaText" id = 'alergiaTextInput' rows="4" cols="50">
</textarea>


                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Υποβληθήκατε σε εγχειρήσεις; Εάν ναι, σε ποιές, που και πότε;

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio egxeirishCheckd" value="true" name="egxeirish"
                                  id="egxeirishCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio egxeirishCheckd" value="false" name="egxeirish"
                                  id="egxeirishCheckdFalse" value="false" />Οχι</label>

                              <div id="egxeirishText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς.</p>



                                <div class="table-responsive">
                                  <table class="table border mb-0" id="egxeiriseisTable">
                                    <tr>
                                      <th>Είδος και περιοχή επέμβασης</th>
                                      <th>Νοσοκομείο</th>
                                      <th>Ημερομηνία</th>
                                    </tr>
                                    <tbody id="egxeiriseisTableBody">

                                      <tr id="1">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_1"
                                            id="egxeirishTextWHO_1"></td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_1"
                                            id="egxeirishTextWHERE_1"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_1"
                                            id="egxeirishTextWHEN_1"></td>
                                      </tr>

                                      <tr id="2">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_2"
                                            id="egxeirishTextWHO_2"></td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_2"
                                            id="egxeirishTextWHERE_2"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_2"
                                            id="egxeirishTextWHEN_2"></td>
                                      </tr>

                                      <tr id="3">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_3"
                                            id="egxeirishTextWHO_3"> </td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_3"
                                            id="egxeirishTextWHERE_3"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_3"
                                            id="egxeirishTextWHEN_3"></td>
                                      </tr>
                                    </tbody>

                                  </table>
                                  <hr>
                                  {{!-- <button type="button" class="btn btn-info" id="AddTableRow">Εισαγωγή
                                    γραμμών</button> --}}
                                </div>

                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>




                    <tr class="align-middle">
                      <td>
                        <p>Αναφέρατε τραυματισμούς (κακώσεις, κατάγματα κ.λ.π.)

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>


                              <label> Τραυματισμοί</label>
                              <hr>
                              <textarea class="form-control" name="traumatismoi" id="traumatismoi" rows="4" cols="50">
</textarea>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr class="align-middle">
                      <td>
                        <p>Yπάρχουν υλικά οστεοσύνθεσης;




                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio osteosinthesi" value="true" name="osteosinthesiBoolean"
                                  id="osteosinthesiTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio osteosinthesi" value="false" name="osteosinthesiBoolean"
                                  id="osteosinthesiFalse" value="false" />Οχι</label>

                            </div>

                            <div id="osteosinthesiText" style="display:none;">
                              <hr>
                              <div>
                                <p>Εξηγείστε.</p>

                                <input type="text" class="form-control" name="osteosinthesiText"
                                  id="osteosinthesiTextInput">
                              </div>



                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p> Αναφέρατε άλλες νοσηλείες εκτός των ανωτέρω αιτιών

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">

                            <div class="table-responsive">
                              <table class="table border mb-0" id="nosiliesTable">
                                <tr>Άλλες νοσηλείες</tr>
                                <tbody id="nosiliesTableBody">

                                  <tr id="1">
                                    <td> <input class="form-control" type="text" name="allesNosilies_1"
                                        id="allesNosilies_1"></td>
                                  </tr>

                                  <tr id="2">
                                    <td> <input class="form-control" type="text" name="allesNosilies_2"
                                        id="allesNosilies_2"></td>
                                  </tr>


                                </tbody>

                              </table>

                              {{!-- <button type="button" class="btn btn-info" id="AddTableNosiliesRow">Εισαγωγή
                                γραμμών</button> --}}
                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ ενοχλήσεις ή υποβληθήκατε σε έλεγχο για σακχαρώδη
                          διαβήτη ή νόσο του θυροειδούς;
                          Εάν ναι, σε ποιές, πότε, και το αποτέλεσμα αυτών

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio SakxarodiDiabitiCheckd" value="true"
                                  name="SakxarodiDiabiti" id="SakxarodiDiabitiCheckdTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio SakxarodiDiabitiCheckd" value="false"
                                  name="SakxarodiDiabiti" id="SakxarodiDiabitiCheckdFalse" value="false" />Οχι</label>

                              <div id="SakxarodiDiabitiText" style="display:none;">
                                <div class="table-responsive">
                                  <table class="table border mb-0" id="diabitiTable">
                                    <tr>
                                      <td>Ποίες</td>
                                      <td>Πότε</td>
                                      <td>Αποτέλεσμα</td>
                                    </tr>

                                    <tbody id="SakxarodiDiabitisTableBody">
                                      <tr id="1">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_1"
                                            id="SakxarodiDiabitiWHO_1"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_1"
                                            id="SakxarodiDiabitiWHEN_1"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_1"
                                            id="SakxarodiDiabitiRESULT_1">
                                        </td>
                                      </tr>

                                      <tr id="2">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_2"
                                            id="SakxarodiDiabitiWHO_2"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_2"
                                            id="SakxarodiDiabitiWHEN_2"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_2"
                                            id="SakxarodiDiabitiRESULT_2">
                                        </td>
                                      </tr>

                                      <tr id="3">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_3"
                                            id="SakxarodiDiabitiWHO_3"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_3"
                                            id="SakxarodiDiabitiWHEN_3"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_3"
                                            id="SakxarodiDiabitiRESULT_3">
                                        </td>
                                      </tr>
                                    </tbody>

                                  </table>
                                  <hr>
                                  {{!-- <button type="button" class="btn btn-info" id="AddTableDiabitiRow">Εισαγωγή
                                    γραμμών</button> --}}
                                </div>


                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ γυναικολογικό πρόβλημα ή πρόβλημα μαστών;
                          (για γυναίκες)


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio gunaikologikaProblimata" value="true"
                                  name="gunaikologikaProblimata" id="gunaikologikaProblimataTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio gunaikologikaProblimata" value="false"
                                  name="gunaikologikaProblimata" id="gunaikologikaProblimataFalse"
                                  value="false" />Οχι</label>

                            </div>
                            <div id="gunaikologikaProblimataText" style="display:none;">
                              <hr>
                              <p>Διευκρινίστε λεπτομερώς.</p>
                              <textarea class="form-control" name="gunaikologikaProblimataText"
                                id="gunaikologikaProblimataInput" rows="4" cols="50">
</textarea>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είστε έγκυος; Εάν ναι σε ποιό μήνα;


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio egkuos" value="true" name="egkuos"
                                  id="egkuosTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio egkuos" value="false" name="egkuos" id="egkuosFalse"
                                  value="false" />Οχι</label>

                            </div>
                            <div id="egkuosText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε μήνα.</p>

                              <input class="form-control" name="egkuosText" name="egkuosInput" id="egkuosInput"
                                type="text">


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είστε σε εμμηνόπαυση;



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="eminopafsi"
                                  id="eminopafsiTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="eminopafsi"
                                  id="eminopafsiFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Ασθενήσατε ποτέ από κάποια κακοήθεια (καρκίνος); Εάν ναι, σε ποια θεραπεία υποβληθήκατε;



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio karkinos" value="true" name="karkinosBoolean"
                                  id="karkinosTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio karkinos" value="false" name="karkinosBoolean"
                                  id="karkinosFalse" value="false" />Οχι</label>

                            </div>


                                  <table class="table border mb-0" id="karkinosText" style="display:none;">
                                    <tr>
                                      <th>Όργανο</th>
                                      <th>Θεραπεία</th>
                                    </tr>
                                    <tbody id="karkinostableBody">

                                      <tr id="1">
                                        <td> <input class="form-control" type="text" name="karkinosOrgan" id="karkinosOrgan"></td>
                                        <td> <input class="form-control" type="text" name="karkinosTreatment" id="karkinosTreatment"></td>
                                      </tr>
                                    </tbody>

                                  </table>
                            {{!-- <div id="karkinosText" style="display:none;">
                              <hr>
                              <div>
                                <p>Όργανο.</p>

                                <input type="text" class="form-control" name="karkinosOrgan" id="karkinosOrgan">
                              </div>

                              <div class="mt-3">
                                <p>Θεραπεία.</p>

                                <input type="text" class="form-control" name="karkinosTreatment" id="karkinosTreatment">

                              </div>
                            </div> --}}

                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr class="align-middle">
                      <td>
                        <p>Καρδιά (υπέρταση, υπόταση, καρδιοπάθεια, στεφανιαία νόσος, έμφραγμα, αρρυθμίες) ;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio kardia" value="true" name="kardiaBoolean"
                                  id="kardiaTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio kardia" value="false" name="kardiaBoolean"
                                  id="kardiaFalse" value="false" />Οχι</label>

                            </div>

                            <div id="kardiaText" style="display:none;">
                              <hr>
                              <div>
                                <p>Εξηγείστε.</p>

                                <input type="text" class="form-control" name="kardiaText" id="kardiaTextInput">
                              </div>



                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p> Πάσχετε από κάποια δερματοπάθεια;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio dermatopatheia" value="true"
                                  name="dermatopatheiaBoolean" id="dermatopatheiaTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio dermatopatheia" value="false"
                                  name="dermatopatheiaBoolean" id="dermatopatheiaFalse" value="false" />Οχι</label>

                            </div>

                            <div id="dermatopatheiaText" style="display:none;">
                              <hr>
                              <div>
                                <p>Εξηγείστε.</p>

                                <input type="text" class="form-control" name="dermatopatheiaText" id="dermatopatheiaTextInput"> 
                              </div>



                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="align-middle">
                      <td>
                        <p>Έχετε υποβληθεί σε Check-up ή επί μέρους εξετάσεις ελέγχου το τελευταίο εξάμηνο (Check-up);
                          Εάν ναι, σε ποιές, πότε, και το αποτέλεσμα αυτών
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <div>

                                <label>
                                  <input type="checkbox" class="radio" value="true" name="checkup"
                                    id="checkupTrue" />Ναι</label>
                                <label>
                                  <input type="checkbox" class="radio" value="false" name="checkup" id="checkupFalse"
                                    value="false" />Οχι</label>

                              </div>

                              <div class="table-responsive" style="display:none;" id="checkupText">
                                <table class="table border mb-0" id="checkupTable">
                                  <tr>
                                    <th>Ποιές;</th>
                                    <th>Που;</th>
                                    <th>Πότε;</th>
                                  </tr>
                                  <tbody id="checkupTableBody">

                                    <tr id="1">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_1"
                                          id="checkupTextWHO_1"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_1"
                                          id="checkupTextWHERE_1"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_1"
                                          id="checkupTextWHEN_1"></td>
                                    </tr>

                                    <tr id="2">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_2"
                                          id="checkupTextWHO_2"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_2"
                                          id="checkupTextWHERE_2"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_2"
                                          id="checkupTextWHEN_2"></td>
                                    </tr>

                                    <tr id="3">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_3"
                                          id="checkupTextWHO_3"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_3"
                                          id="checkupTextWHERE_3"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_3"
                                          id="checkupTextWHEN_3" id></td>
                                    </tr>
                                  </tbody>

                                </table>

                                {{!-- <button type="button" class="btn btn-info" id="AddTableCheckupRow">Εισαγωγή
                                  γραμμών</button> --}}
                              </div>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Έχει μεταβληθεί σημαντικά το βάρος σας, ή άλλες καθημερινές σας συνήθειες το τελευταίο έτος;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="metavoliVarous"
                                  id="metavoliVarousTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="metavoliVarous"
                                  id="metavoliVarousFalse" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Λάβατε ή λαμβάνετε οποιαδήποτε φαρμακευτική αγωγή;
                          Εάν ναι, διευκρινίστε την αιτία και το είδος
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio farmaka" value="true" name="farmaka"
                                  id="farmakaTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio farmaka" value="false" name="farmaka"
                                  id="farmakaFalse" value="false" />Οχι</label>

                            </div>

                            <div id="farmakaText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε.</p>

                              <table class="table border mb-0">
                                <tr>
                                  <td>Αιτία </td>
                                  <td><input class="form-control" name="farmakaAitia" id="farmakaAitia" type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td>Είδος</td>
                                  <td> <input class="form-control" name="farmakaEidos" id="farmakaEidos" type=" text">
                                  </td>
                                </tr>
                              </table>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Ασθενήσατε από λοιμώδες νόσημα; (covid,γρίπη και λοιπά)
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio covid" value="true" name="covid"
                                  id="covidTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio covid" value="false" name="covid" id="covidFalse"
                                  value="false" />Οχι</label>

                            </div>

                            <div id="covidText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε.</p>

                              <textarea class="form-control" name="covidText" id="covidInput" cols="30"
                                rows="5"></textarea>



                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Έχετε υποβληθεί σε εξέταση απεικονιστικού ελέγχου το τελευταίο εξάμηνο; (μαγνιτική, αξονική,
                          ακτινογραφία κτλπ)
                          αν ναι, σε ποιές; πότε; και ποιες οι ιατρικές γνωματέυσεις αυτών;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio apeikonistiko" value="true"
                                  name="apeikonistikoBoolean" id="apeikonistikoTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio apeikonistiko" value="false"
                                  name="apeikonistikoBoolean" id="apeikonistikoFalse" value="false" />Οχι</label>

                            </div>

                            <div id="apeikonistikoText" style="display:none;">
                              <hr>

                              <div>
                                <p>Ποιές;</p>
                                <input class="form-control" name="apeikonistikoWhich" id ="apeikonistikoWhich" type="text">
                              </div>




      

                              <div class="mt-3">
                                <p>Πότε;</p>
                                <input class="form-control" name="apeikonistikoWhen" id="apeikonistikoWhich" type="date" value="{{formatTime user.apeikonistiko.when  'YYYY-MM-DD'}}">
                              </div>





                              <div class="mt-3">
                                <p>Ποιες οι ιατρικές γνωματέυσεις αυτών;</p>
                                <input class="form-control" name="apeikonistikoMedicalOpinion" id="apeikonistikoMedicalΟpinion"  type="text">
                              </div>

                            </div>
                          </div>

                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Έχετε να δηλώσετε οτιδήποτε άλλο που έχει σχέση με την υγεία σας;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio allo" value="true" name="allo"
                                  id="alloTrue" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio allo" value="false" name="allo" id="alloFalse"
                                  value="false" />Οχι</label>

                            </div>

                            <div id="alloText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε.</p>

                              <textarea class="form-control" name="alloText" id="alloInput" cols="30"
                                rows="10"></textarea>



                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>


                <div class="col-12 pt-2">
                  <button class="btn btn-primary" type="submit">Υποβολή Φόρμας</button>
                </div>


              </form>
            </div>
          </div>
          <!-- Form -->





        </div>
      </div>
    </div>
  </div>




  {{#if error}}
  <script>
    const myTimeout = setTimeout(myGreeting, 3000);

    function myGreeting() {
      $("#toast").hide()
    }
  </script>

  <div class="justify-content-end mt-5" id="toast" style="display: flex;">

    <div class="toast fade show bg-{{status}}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="docs-placeholder-img rounded me-2" width="20" height="10" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

        </svg><strong class="me-auto"></strong><small></small>
        <button class="btn-close" id="btn-close" type="button" data-coreui-dismiss="toast" aria-label="Close"></button>
      </div>

      {{!-- MESSAGE --}}
      <div class="toast-body">{{message}}.</div>
    </div>
  </div>
  {{/if}}

</div>
