<!DOCTYPE html>
<html lang="en">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  {{!-- <title>Διαχείριση ασθενών</title> --}}
  <title>{{title}}</title>

  <link rel="icon" type="image/png" sizes="16x16" href="/images/doc-symbol.png">
  <link rel="manifest" href="/stylesheets/assets/favicon/manifest.json">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/stylesheets/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendors styles-->
  <link rel="stylesheet" href="/vendors/simplebar/css/simplebar.css">
  <link rel="stylesheet" href="/stylesheets/css/vendors/simplebar.css">
  <!-- Main styles for this application-->
  <link href="/stylesheets/css/style.css" rel="stylesheet">
  <!-- We use those styles to show code examples, you should remove them in your application.-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
  <link href=/"stylesheets/css/examples.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    // Shared ID
    gtag('config', 'UA-118965717-3');
    // Bootstrap ID
    gtag('config', 'UA-118965717-5');
  </script>
  <link href="/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"
    integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {{!-- <style>
    @media print {
      body * {
        visibility: hidden;
      }

      header * {
            visibility: hidden;
          }

      #form12, #form12 * {
       visibility: visible;
      }

       
    }
    
  </style> --}}



</head>

<body>

  {{#if login}}
  {{else if signup}}
   {{else if admin}}
{{>Adminheader}}
  {{else}}
  {{>header}}
  {{/if}}


  {{{body}}}

  {{#if login}}
  {{else if signup}}
  {{else}}
  {{>footer}}
  {{/if}}



</body>

</html>