<!-- Table -->




<table id="myTable" class="display custom_table text-center" style="">
    <thead>
        <tr>
            <th>AMKA</th>
            <th>Όνομα</th>
            <th>Επίθετο</th>
            <th>Ηλικία</th>
            <th>Φύλο</th>
            <th>Κατάσταση Ιατρού</th>

            <th>Επεξεργασία</th>
            <th>Καταχώρηση Ιατρού</th>
            {{!-- <th>Προεπισκοπηση</th> --}}
            {{!-- <th>Διαγραφη</th> --}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><a href="viewPatient/{{this._id}}">{{this.UserAmka}}</a></td>
            <td>{{this.fname}}</td>
            <td>{{this.lname}}</td>


            <td>{{this.age_group}}</td>
           

             {{#if (equal this.gender 'man')}}
                     <td>Άντρας </td>
            {{else}}
                     <td> Γυναίκα</td>
            {{/if}}



            {{#if (equal this.completedByDoctor false)}}
            <td><span class="circle" style="background:rgb(243, 8, 8);"></span> Μη ολοκληρωμένος</td>

            {{else}}
            <td><span class="circle" style="background:rgb(78, 175, 54);"></span> Ολοκληρωμένος</td>
            {{/if}}

            {{!-- <td><button type="button" class="btn-close deleteuser" id="{{this._id}}" aria-label="Close"></button>
            </td> --}}
            {{!--
            <td><button class=" deleteuser btn-close" id="{{this._id}}"></button></td> --}}

            <td>
                <a href="/edit/editPatient/{{this._id}}"><button type="button" class="btn btn-info btn-sm">Επεξεργασία
                        <span class="glyphicon glyphicon-edit"></span></button></a>
            </td>

            <td>
                <a href="/edit/submitPatient/{{this._id}}"><button type="button"
                        class="btn btn-success btn-sm">Καταχώρηση
                        Ιατρού
                        <span class="glyphicon glyphicon-edit"></span></button></a>
            </td>

            {{!-- <td>

                <a href="/edit/printPatient/{{this._id}}"><button type="button" class="btn btn-warning btn-sm"><img
                            src="/images/printer.png" style="width:20px;"></button></a>

            </td> --}}

            {{!-- <td><button type="button" class="deleteuser btn btn-danger btn-sm" id="{{this._id}}">Διαγραφή <span
                        class="glyphicon glyphicon-minus"></span></button>
            </td> --}}

        </tr>

        {{/each}}
    </tbody>
</table>

<!-- Table -->