<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header"><strong>Επίσκεψη Ασθενή </strong></div>

      <div class="card-body">

        <p class="text-medium-emphasis small">Εγγεγραμένοι Ασθενείς Μονο.</p>

        <div class="example">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-coreui-toggle="tab" href="#preview-789" role="tab" id="UserForm">
                Φόρμα Εγγραφής Ασθενή</a>
            </li>


          </ul>
          <!-- Form -->
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-789" id="UserFormEmail">
              <form class="row g-3"  action="/visit" method="POST">

                <div class="col-md-3">
                  <label class="form-label" for="amka">Αμκα</label>
                  <select class="form-select" id="amka" name='amka' required="">
                    <option selected="" disabled="" value="">Επιλογή...</option>
                    {{#each data}}
                    <option data-fname="{{this.fname}}" data-lname="{{this.lname}}">{{this.UserAmka}}</option>
                   
                  {{/each}}
                  </select>
                  <div class="invalid-feedback">Please select a valid state.</div>
                </div>

                <hr>
                <div class="row mt-3">



                  <div class="col-md-4">
                    <label class="form-label" for="lname">Επίθετο</label>
                    <input class="form-control" id="lname" name="lname"  type="text"  >
                  </div>
                  <div class="col-md-4">
                    <label class="form-label" for="fname">Όνομα</label>
                    <input class="form-control" id="fname"  name="fname" type="text" required="">
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="dateVisit">Ημερομηνία</label>
                    <input class="form-control" id="dateVisit" name="dateVisit" type="date"  required="">
                  </div>


                </div>
               
               <div class="row">

                 <div class="col-md-4">
                  <label class="form-label" for="symptoms">Συμπτωματα</label>
                  <textarea class="form-control" id="symptoms" name="symptoms" rows="3" cols="50"></textarea>
                </div>

                <div class="col-md-4">
                  <label class="form-label" for="Gnomateush">Ιατρική Γνωμάτευση</label>
                   <textarea class="form-control" id="Gnomateush" name="Gnomateush" rows="3" cols="50"></textarea>

                </div>

                <div class="col-md-4">
                  <label class="form-label" for="Farmaka">Φάρμακα</label>
                  <textarea class="form-control" id="Farmaka" name="Farmaka" rows="3" cols="50"></textarea>
                </div>

               </div>
            </div>



            <div class="col-12">
              <button class="btn btn-primary" type="submit">Υποβολή Φόρμας</button>
            </div>
            </form>
          </div>
        </div>
        <!-- Form -->





      </div>
    </div>
  </div>
 </div>

    <script>

      $(document).ready(function () {
            $('#amka').change(function () {
                var fname = $(this).find(':selected').attr('data-fname');
                var lname = $(this).find(':selected').attr('data-lname');
                $('#fname').attr('value', fname);
                $('#lname').attr('value', lname);
            });
        });
    </script>
        
      {{#if error}}
      <script>
          const myTimeout = setTimeout(myGreeting, 3000);

          function myGreeting() {
              $("#toast").hide()
          }
      </script>

      <div class="justify-content-end mt-5" id="toast" style="display: flex;">

          <div class="toast fade show bg-{{status}}" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                  <svg class="docs-placeholder-img rounded me-2" width="20" height="10" xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                  </svg><strong class="me-auto"></strong><small></small>
                  <button class="btn-close" id="btn-close" type="button" data-coreui-dismiss="toast"
                      aria-label="Close"></button>
              </div>

              {{!-- MESSAGE --}}
              <div class="toast-body">{{message}}.</div>
          </div>
      </div>
      {{/if}}